/*
 *  Node article component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-article.view-mode-full,
.node.node-article.view-mode-default{
  >.row {
    >div.col-sm-12 {
      #pxl-mixins.node-background();

      .field-name-field-image {
        .field-item {
          position: relative;
          overflow: hidden;
          height: @img-height-mobile !important;

          @media @narrow {
            height: @img-height-narrow !important;
          }
          @media @tablet {
            height: @img-height-tablet !important;
          }
          @media @normal {
            height: @img-height-normal !important;
          }
          @media @wide {
            height: @img-height-wide !important;
          }

          img {
            position: relative;
            width:100%;
            min-width: 100%;
            max-width: none;
            height: auto;
            min-height: 100%;
            #pxl-mixins.center-horizontally();

            @media @tablet {
              width: auto;
              height: 100%;
            }

          }
        }
      }

      >div.group-inner-node {
        #pxl-mixins.inner-node();

        .field-name-title {
          h2 {
            display: block;
            overflow: hidden;
            margin: 0 0 30px;
            #pxl-mixins.kf-style3;
            #pxl-mixins.text-overflow();
          }
        }

        .field-name-body {
          margin: @panel-separator-height auto;
          #pxl-mixins.wysiwyg-body();
        }
      }
    }
  }
}

.node.node-article.view-mode-teaser {
  >.row {
    >div.col-sm-12 {
      width: 100%;

      .field-name-title {
        .field-item {
          a {
            display: block;
            overflow: hidden;
            #pxl-mixins.kf-style3;
            #pxl-mixins.text-overflow();

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .field-name-body {
        margin: 20px auto;
        #pxl-mixins.wysiwyg-body();
        p {
          #pxl-mixins.kf-style4;
        }
      }
    }
  }
}
