/* --------------------------------------------------
 * Pixelgarage fonts
 * --------------------------------------------------*/
//
//
// webfont licences

//
// Google fonts

//
// Awesome icon font
@import '../fonts/font-awesome/less/font-awesome';
@fa-font-path: '@{pxl-font-path}/font-awesome/fonts'; // override fa font path (lazy loading)

//
// Define customer specific fonts
@pxl-font-path: '../fonts';
@pxl-bs-path: '../bootstrap';

// icon font
@pxl-icon-font: 'fontawesome';

// title font
@pxl-title-font: 'BrandonText-Bold', sans-serif;

// text fonts
@pxl-text-font: 'BrandonText-Regular', sans-serif;
@pxl-text-font-italic: 'BrandonText-RegularItalic', sans-serif;
@pxl-text-font-light: 'BrandonText-RegularItalic', sans-serif;
@pxl-text-font-medium: 'BrandonText-Regular', sans-serif;
@pxl-text-font-bold: 'BrandonText-Bold', sans-serif;
@pxl-text-font-bold-italic: 'BrandonText-BoldItalic', sans-serif;

// form font
@pxl-form-font: @pxl-text-font;

// serif font
@pxl-text-font-serif: 'Droid Serif', serif;


//
// font faces
//
@font-face {
  font-family: 'BrandonText-Regular';
  src: url('@{pxl-font-path}/BrandonText-Regular/BrandonText-Regular.eot');
  src: url('@{pxl-font-path}/BrandonText-Regular/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{pxl-font-path}/BrandonText-Regular/BrandonText-Regular.woff2') format('woff2'),
  url('@{pxl-font-path}/BrandonText-Regular/BrandonText-Regular.woff') format('woff'),
  url('@{pxl-font-path}/BrandonText-Regular/BrandonText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BrandonText-Bold';
  src: url('@{pxl-font-path}/BrandonText-Bold/BrandonText-Bold.eot');
  src: url('@{pxl-font-path}/BrandonText-Bold/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
  url('@{pxl-font-path}/BrandonText-Bold/BrandonText-Bold.woff2') format('woff2'),
  url('@{pxl-font-path}/BrandonText-Bold/BrandonText-Bold.woff') format('woff'),
  url('@{pxl-font-path}/BrandonText-Bold/BrandonText-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BrandonText-RegularItalic';
  src: url('@{pxl-font-path}/BrandonText-RegularItalic/BrandonText-RegularItalic.eot');
  src: url('@{pxl-font-path}/BrandonText-RegularItalic/BrandonText-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('@{pxl-font-path}/BrandonText-RegularItalic/BrandonText-RegularItalic.woff2') format('woff2'),
  url('@{pxl-font-path}/BrandonText-RegularItalic/BrandonText-RegularItalic.woff') format('woff'),
  url('@{pxl-font-path}/BrandonText-RegularItalic/BrandonText-RegularItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BrandonText-BoldItalic';
  src: url('@{pxl-font-path}/BrandonText-BoldItalic/BrandonText-BoldItalic.eot');
  src: url('@{pxl-font-path}/BrandonText-BoldItalic/BrandonText-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('@{pxl-font-path}/BrandonText-BoldItalic/BrandonText-BoldItalic.woff2') format('woff2'),
  url('@{pxl-font-path}/BrandonText-BoldItalic/BrandonText-BoldItalic.woff') format('woff'),
  url('@{pxl-font-path}/BrandonText-BoldItalic/BrandonText-BoldItalic.ttf') format('truetype');
}
