/*
 *  Footer section
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// Main settings
// -------------------------
footer.footer {
  margin: 30px auto 0;
  border-top: none;

  .region-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1.5px solid @pxl-color-border;

    .block-menu {
      ul.menu {
        text-align: center;

        li {
          display: inline-block;

          a, span {
            padding: 5px 10px;
            font-family: @pxl-text-font-bold;
            font-size: @font-size-base;
            line-height: (@font-size-base + 2);
            text-transform: uppercase;

            &:hover, &:focus {
              background: none;
            }
          }

          a:before {
            content: "\f178";
            font-family: @pxl-icon-font;
            padding-right: 10px;
          }

          span {
            font-family: @pxl-text-font;
          }
        }
      }
    }
  }
}
