/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-navbar-header-width: 620px;


// Mixins
// -------------------------



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: 270px !important;

  &.admin-menu {
    padding-top: 270px !important;
  }

}


header#navbar {
  border-bottom: none;
  background: transparent none;

  .container {
    padding: 0px @grid-gutter-width/2 10px;

    .navbar-header {
      display: block;
      float: none;
      margin: 0 auto;
      max-width: @pxl-navbar-header-width;

      .region-navigation {
        font-family: @pxl-text-font;
        font-size: @font-size-small;
        text-transform: uppercase;
        line-height: 1;

        #block-locale-language,
        #block-menu-menu-meta-menu {
          display: inline-block;

          ul {
            #pxl-mixins.no-list-style;

            li {
              display: inline-block;
              #pxl-mixins.no-list-style;

              a {
                padding: 5px;
                outline: none;

                &:hover, &.active {
                  outline: none;
                  background: none;
                }
              }
            }
          }
        }
        #block-locale-language {
          a {
            &:hover, &.active {
              text-decoration: underline;
            }
          }
        }
      }

      p.lead {
        // slogan
        margin: 20px auto;
        padding: 0;
        width: 90%;
        font-family: @pxl-text-font-medium;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }

      a.navbar-brand {
        // title
        float: none;
        margin: 0 0 20px;
        padding: 0;
        height: auto;
        font-family: @pxl-text-font-black;
        font-size: 84px;
        text-align: center;
        text-transform: uppercase;
        color: @text-color;
        letter-spacing: -2px;
        line-height: 1;
        outline: none;
      }

      .navbar-toggle {
        // navbar toggle with burger
        padding: 5px 10px;
      }
    }

    // collapse part
    .navbar-collapse {
      margin: 0 auto 10px;
      max-width: @pxl-navbar-header-width;

      nav {
        ul.navbar-nav {
          float: none;
          margin: 0;
          padding: 0;
          width: 100%;

          li {
            display: inline-block;
            float: none;
            margin: 0 -2px;
            padding: 0;
            width: 33.333333%;

            a {
              padding: 0;
              font-family: @pxl-text-font-bold;
              font-size: 36px;
              text-transform: uppercase;
              text-align: center;
              color: @text-color;
              line-height: 1;
              outline: none;

              &#menu-about {
                text-align: left;
              }

              &#menu-submit {
                text-align: right;
              }

              &:hover {
                text-decoration: underline;
                outline: none;
              }
            }
          }
        }
      }

    }
  }
}

