/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-navbar-header-width: 650px;

@header-media:  ~"screen and (min-width: @{pxl-navbar-header-width})";

// Mixins
// -------------------------



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: 180px !important;

  &.admin-menu {
    padding-top: 180px !important;
  }

  @media @narrow {
    padding-top: 223px !important;

    &.admin-menu {
      padding-top: 223px !important;
    }
  }
  @media @header-media {
    padding-top: 270px !important;

    &.admin-menu {
      padding-top: 270px !important;
    }
  }
}


header#navbar {
  margin-bottom: 0;
  border-bottom: none;
  background: transparent none;

  .container {
    padding: 10px @grid-gutter-width/2;

    @media @tablet {
      padding: 10px @grid-gutter-width-tablet/2;
    }

    .navbar-header {
      display: block;
      float: none;
      margin: 0 auto;

      // header (branding)
      a.logo {
        display: inline-block;
        margin: 0;
        padding: 0;

        .front & {
          display: none;
        }

        img {
          display: inline-block;
          max-height: 50px;
          width: auto;

          @media @tablet {
            max-height: 70px;
          }

        }
      }

      // navigation region
      .region-navigation {
        display: none;
        font-family: @pxl-text-font;
        font-size: @font-size-small;
        text-transform: uppercase;
        line-height: 1;

        .front & {
          display: inline-block;
        }

        #block-locale-language {
          display: inline-block;

          ul {
            #pxl-mixins.no-list-style;

            li {
              display: inline-block;
              #pxl-mixins.no-list-style;

              a {
                padding: 5px;
                outline: none;

                &:hover, &.active {
                  outline: none;
                  background: none;
                }
              }
            }
          }
        }
      }

      .navbar-toggle {
        // navbar toggle with burger
        margin: 0;
        padding: 0;
        border: none;
        background: none;

        &:hover, &:focus {
          color: @link-hover-color;
        }

        .glyphicon {
          font-size: 22px;
        }
      }
    }

    // collapse part
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: none;
      background-color: rgba(0,0,0,0.9);

      nav {
        ul.navbar-nav {
          float: none;
          margin: 100px 0 0;
          padding: 0;
          width: 100%;
          text-align: center;
          line-height: 0;

          li {
            display: block;
            float: none;
            margin: 0;
            padding: 0;

            a {
              font-family: @pxl-text-font-bold;
              line-height: 10vw;
              text-transform: uppercase;
              text-align: center;
              color: #fff;
              #pxl-mixins.font-size-responsive(54px, 32px);
              outline: none;

              &:hover, &:focus, &.active {
                margin-bottom: 0;
                text-decoration: none;
                outline: none;
                color: @pxl-kf-yellow;
                background: none;
              }
            }
          }

          @media @tablet {
            margin: 200px 0 0;

            li {
              a {
                line-height: 78px;
              }
            }
          }

        }
      }

    }
  }
}

